.tweet-template__footer__action--reply .tweet-template__footer__action__container:hover,
.tweet-template__footer__action--reply .tweet-template__footer__action__container:hover svg {
    color: var(--more-info-color);
    fill: var(--more-info-color);
}

.tweet-template__footer__action--reply .tweet-template__footer__action__container:hover .tweet-template__icon {
    background-color: var(--more-info-bg-color);
}

.tweet-template__footer__action--retweet .tweet-template__footer__action__container:hover,
.tweet-template__footer__action--retweet .tweet-template__footer__action__container:hover svg {
    color: rgb(var(--green-100));
    fill: rgb(var(--green-100));
}

.tweet-template__footer__action--retweet .tweet-template__footer__action__container:hover .tweet-template__icon {
    background-color: rgba(var(--green-100), 0.18);
}

.tweet-template__footer__action--like .tweet-template__footer__action__container:hover,
.tweet-template__footer__action--like .tweet-template__footer__action__container:hover svg {
    color: rgb(var(--red-500));
    fill: rgb(var(--red-500));
}

.tweet-template__footer__action--like .tweet-template__footer__action__container:hover .tweet-template__icon {
    background-color: rgba(var(--red-500), 0.18);
}

.tweet-template__icon__like::after {
    content: '100';
}

.tweet-template__footer__action--share .tweet-template__footer__action__container:hover .tweet-template__icon,
.tweet-template__footer__action--share .tweet-template__footer__action__container:hover svg {
    background-color: var(--more-info-bg-color);
    fill: var(--more-info-color);
}


/* tweet simple template - End */


/* tweet template replies - Start */

.tweet-template--replies {
    display: flex;
    flex-direction: row;
}

.tweet-template--replies:hover {
    background-color: var(--gray-200);
}


/* tweet template replies  - End */