.left-side {
    width: 275px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}


/* 
[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
} */