code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/*---------------------------------------------->> GLOBAL - START  <<<----------------------------------------------*/

:root {
    --main-bg-color: #151f2b;
    --text-color: #ffffff;
    --input-text-bg-color: #253341;
    --primary-font: Arial, Helvetica, sans-serif;
    --tweet-button-color: #1a91da;
    --gray-800: #8394A1;
}

.page {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}